# Home Assistant
.cloud/
.storage/
deps/
tts/
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
.HA_VERSION
.uuid

# Python
__pycache__/

# Configuration
www/lovelace/
secrets.yaml
